<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mk.beauty.services.parlours">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Users.offlineservices"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity"></activity>
        <activity android:name=".Users.PopularServicesDetailsActivity" />
        <activity android:name=".Users.MachakosServices.ClickPost.ClickPostWeavingMachakos" />
        <activity android:name=".Users.MachakosServices.ClickPost.ClickPostPreBridalMachakos" />
        <activity android:name=".Users.MachakosServices.ClickPost.ClickPostNailExtensionMachakos" />
        <activity android:name=".Users.MachakosServices.ClickPost.ClickPostPedicureMachakos" />
        <activity android:name=".Users.MachakosServices.ClickPost.ClickPostMassagingMachakos" />
        <activity android:name=".Users.MachakosServices.ClickPost.ClickPostManicureMachakos" />
        <activity android:name=".Users.MachakosServices.ClickPost.ClickPostMakeUpMachakos" />
        <activity android:name=".Users.MachakosServices.ClickPost.ClickPostKeratinTreatmentMachakos" />
        <activity android:name=".Users.MachakosServices.ClickPost.ClickPostHairStylingMachakos" />
        <activity android:name=".Users.MachakosServices.ClickPost.ClickPostGelNailsMachakos" />
        <activity android:name=".Users.MachakosServices.ClickPost.ClickPostFacialMachakos" />
        <activity android:name=".Users.MachakosServices.ClickPost.ClickPostBraidingMachakos" />
        <activity android:name=".Users.MachakosServices.WeavingMachakos" />
        <activity android:name=".Users.MachakosServices.PreBridalPackageMachakos" />
        <activity android:name=".Users.MachakosServices.PedicureMachakos" />
        <activity android:name=".Users.MachakosServices.NailExtensionMachakos" />
        <activity android:name=".Users.MachakosServices.MassagingMachakos" />
        <activity android:name=".Users.MachakosServices.ManicureMachakos" />
        <activity android:name=".Users.MachakosServices.MakeUpMachakos" />
        <activity android:name=".Users.MachakosServices.KeratinTreatmentMachakos" />
        <activity android:name=".Users.MachakosServices.HairStylingMachakos" />
        <activity android:name=".Users.MachakosServices.GelNailsMachakos" />
        <activity android:name=".Users.MachakosServices.FacialMachakos" />
        <activity android:name=".Users.MachakosServices.BraidingMachakos" />
        <activity android:name=".Users.Locations.Machakos" />
        <activity android:name=".Users.ThikaServices.ClickPost.ClickPostWeavingThika" />
        <activity android:name=".Users.ThikaServices.ClickPost.ClickPostPreBridalPackageThika" />
        <activity android:name=".Users.ThikaServices.ClickPost.ClickPostPedicureThika" />
        <activity android:name=".Users.ThikaServices.ClickPost.ClickPostNailExtensionThika" />
        <activity android:name=".Users.ThikaServices.ClickPost.ClickPostMassagingThika" />
        <activity android:name=".Users.ThikaServices.ClickPost.ClickPostManicureThika" />
        <activity android:name=".Users.ThikaServices.ClickPost.ClickPostMakeUpThika" />
        <activity android:name=".Users.ThikaServices.ClickPost.ClickPostKeratinTreatmentThika" />
        <activity android:name=".Users.ThikaServices.ClickPost.ClickPostHairStylingThika" />
        <activity android:name=".Users.ThikaServices.ClickPost.ClickPostGelNailsThika" />
        <activity android:name=".Users.ThikaServices.ClickPost.ClickPostFacialThika" />
        <activity android:name=".Users.ThikaServices.ClickPost.ClickPostBraidingThika" />
        <activity android:name=".Users.ThikaServices.WeavingThika" />
        <activity android:name=".Users.ThikaServices.PreBridalPackageThika" />
        <activity android:name=".Users.ThikaServices.PedicureThika" />
        <activity android:name=".Users.ThikaServices.NailExtensionThika" />
        <activity android:name=".Users.ThikaServices.MassagingThika" />
        <activity android:name=".Users.ThikaServices.ManicureThika" />
        <activity android:name=".Users.ThikaServices.MakeUpThika" />
        <activity android:name=".Users.ThikaServices.KeratinTreatmentThika" />
        <activity android:name=".Users.ThikaServices.HairStylingThika" />
        <activity android:name=".Users.ThikaServices.GelNailsThika" />
        <activity android:name=".Users.ThikaServices.FacialThika" />
        <activity android:name=".Users.ThikaServices.BraidingThika" />
        <activity android:name=".Users.Locations.Thika" />
        <activity android:name=".Users.MeruServices.ClickPost.ClickPostWeavingMeru" />
        <activity android:name=".Users.MeruServices.ClickPost.ClickPostPreBridalMeru" />
        <activity android:name=".Users.MeruServices.ClickPost.ClickPostPedicureMeru" />
        <activity android:name=".Users.MeruServices.ClickPost.ClickPostNailExtensionMeru" />
        <activity android:name=".Users.MeruServices.ClickPost.ClickPostMassagingMeru" />
        <activity android:name=".Users.MeruServices.ClickPost.ClickPostManicureMeru" />
        <activity android:name=".Users.MeruServices.ClickPost.ClickPostMakeUpMeru" />
        <activity android:name=".Users.MeruServices.ClickPost.ClickPostKeratinTreatmentMeru" />
        <activity android:name=".Users.MeruServices.ClickPost.ClickPostHairStylingMeru" />
        <activity android:name=".Users.MeruServices.ClickPost.ClickPostGelNailsMeru" />
        <activity android:name=".Users.MeruServices.ClickPost.ClickPostFacialMeru" />
        <activity android:name=".Users.MeruServices.ClickPost.ClickPostBraidingMeru" />
        <activity android:name=".Users.MeruServices.WeavingMeru" />
        <activity android:name=".Users.MeruServices.PreBridalPackageMeru" />
        <activity android:name=".Users.MeruServices.PedicureMeru" />
        <activity android:name=".Users.MeruServices.NailExtensionMeru" />
        <activity android:name=".Users.MeruServices.MassagingMeru" />
        <activity android:name=".Users.MeruServices.ManicureMeru" />
        <activity android:name=".Users.MeruServices.MakeUpMeru" />
        <activity android:name=".Users.MeruServices.KeratinTreatmentMeru" />
        <activity android:name=".Users.MeruServices.HairStylingMeru" />
        <activity android:name=".Users.MeruServices.GelNailsMeru" />
        <activity android:name=".Users.MeruServices.FacialMeru" />
        <activity android:name=".Users.MeruServices.BraidingMeru" />
        <activity android:name=".Users.Locations.Meru" />
        <activity android:name=".Users.MombasaServices.ClickPost.ClickPostWeavingMombasa" />
        <activity android:name=".Users.MombasaServices.ClickPost.ClickPostPreBridalPackageMombasa" />
        <activity android:name=".Users.MombasaServices.ClickPost.ClickPostPedicureMombasa" />
        <activity android:name=".Users.MombasaServices.ClickPost.ClickPostNailExtensionMombasa" />
        <activity android:name=".Users.MombasaServices.ClickPost.ClickPostMassagingMombasa" />
        <activity android:name=".Users.MombasaServices.ClickPost.ClickPostManicureMombasa" />
        <activity android:name=".Users.MombasaServices.ClickPost.ClickPostMakeUpMombasa" />
        <activity android:name=".Users.MombasaServices.ClickPost.ClickPostKeratinTreatmentMombasa" />
        <activity android:name=".Users.MombasaServices.ClickPost.ClickPostHairStylingMombasa" />
        <activity android:name=".Users.MombasaServices.ClickPost.ClickPostGelNailsMombasa" />
        <activity android:name=".Users.MombasaServices.ClickPost.ClickPostFacialMombasa" />
        <activity android:name=".Users.MombasaServices.ClickPost.ClickPostBraidingMombasa" />
        <activity android:name=".Users.MombasaServices.WeavingMombasa" />
        <activity android:name=".Users.MombasaServices.PreBridalPackageMombasa" />
        <activity android:name=".Users.MombasaServices.PedicureMombasa" />
        <activity android:name=".Users.MombasaServices.NailExtensionMombasa" />
        <activity android:name=".Users.MombasaServices.MassagingMombasa" />
        <activity android:name=".Users.MombasaServices.ManicureMombasa" />
        <activity android:name=".Users.MombasaServices.MakeUpMombasa" />
        <activity android:name=".Users.MombasaServices.KeratinTreatmentMombasa" />
        <activity android:name=".Users.MombasaServices.HairStylingMombasa" />
        <activity android:name=".Users.MombasaServices.GelNailsMombasa" />
        <activity android:name=".Users.MombasaServices.facialMombasa" />
        <activity android:name=".Users.MombasaServices.BraidingMombasa" />
        <activity android:name=".Users.Locations.Mombasa" />
        <activity android:name=".ServiceProviders.SpProfileActivity" />
        <activity android:name=".ServiceProviders.SpSettingsActivity" />
        <activity android:name=".ServiceProviders.SpMachakosServices.ClickPost.SpClickPostWeavingMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.ClickPost.SpClickPostPreBridalPackageMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.ClickPost.SpClickPostPedicureMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.ClickPost.SpClickPostNailExtensionMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.ClickPost.SpClickPostMassagingMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.ClickPost.SpClickPostManicureMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.ClickPost.SpClickPostMakeUpMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.ClickPost.SpClickPostKeratinTreatmentMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.ClickPost.SpClickPostHairStylingMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.ClickPost.SpClickPostGelNailsMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.ClickPost.SpClickPostFacialMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.ClickPost.SpClickPostBraidingMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.SpWeavingMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.SpPreBridalPackageMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.SpPedicureMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.SpNailExtensionMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.SpMassagingMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.SpManicureMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.SpMakeUpMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.SpKeratinTreatmentMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.SpHairStylingMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.SpGelNailsMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.SpFacialMachakos" />
        <activity android:name=".ServiceProviders.SpMachakosServices.SpBraidingMachakos" />
        <activity android:name=".ServiceProviders.SpWorkLocations.SpWorkMachakos" />
        <activity android:name=".ServiceProviders.SpThikaServices.ClickPost.SpClickPostWeavingThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.ClickPost.SpClickPostPreBridalPackageThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.ClickPost.SpClickPostPedicureThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.ClickPost.SpClickPostNailExtensionThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.ClickPost.SpClickPostMassagingThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.ClickPost.SpClickPostManicureThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.ClickPost.SpClickPostMakeUpThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.ClickPost.SpClickPostKeratinTreatmentThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.ClickPost.SpClickPostHairStylingThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.ClickPost.SpClickPostGelNailsThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.ClickPost.SpClickPostFacialThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.ClickPost.SpClickPostBraidingThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.SpWeavingThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.SpPreBridalPackageThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.SpPedicureThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.SpNailExtensionThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.SpMassagingThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.SpManicureThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.SpMakeUpThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.SpKeratinTreatmentThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.SpHairStylingThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.SpGelNailsThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.SpFacialThika" />
        <activity android:name=".ServiceProviders.SpThikaServices.SpBraidingThika" />
        <activity android:name=".ServiceProviders.SpWorkLocations.SpWorkThika" />
        <activity android:name=".ServiceProviders.SpMeruServices.ClickPost.SpClickPostWeavingMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.ClickPost.SpClickPostPreBridalPackageMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.ClickPost.SpClickPostPedicureMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.ClickPost.SpClickPostNailExtensionMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.ClickPost.SpClickPostMassagingMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.ClickPost.SpClickPostManicureMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.ClickPost.SpClickPostMakeUpMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.ClickPost.SpClickPostKeratinTreatmentMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.ClickPost.SpClickPostHairStylingMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.ClickPost.SpClickPostGelNailsMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.ClickPost.SpClickPostFacialMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.ClickPost.SpClickPostBraidingMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.SpWeavingMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.SpPreBridalPackageMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.SpPedicureMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.SpNailExtensionMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.SpMassagingMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.SpManicureMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.SpMakeUpMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.SpKeratinTreatmentMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.SpHairStylingMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.SpGelNailsMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.SpFacialMeru" />
        <activity android:name=".ServiceProviders.SpMeruServices.SpBraidingMeru" />
        <activity android:name=".ServiceProviders.SpWorkLocations.SpWorkMeru" />
        <activity android:name=".ServiceProviders.SpMombasaServices.ClickPost.SpClickPostWeavingMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.ClickPost.SpClickPostPrebridalPackageMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.ClickPost.SpClickPostPedicureMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.ClickPost.SpClickPostNailExtensionMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.ClickPost.SpClickPostMassagingMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.ClickPost.SpClickPostManicureMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.ClickPost.SpClickPostMakeUpMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.ClickPost.SpClickPostKeratinTreatmentMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.ClickPost.SpClickPostHairStylingMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.ClickPost.SpClickPostGelNailsMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.ClickPost.SpClickPostFacialMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.ClickPost.SpClickPostBraidingMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.SpWeavingMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.SpPreBridalPackageMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.SpPedicureMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.SpNailExtensionMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.SpMassagingMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.SpManicureMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.SpMakeUpMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.SpKeratinTreatmentMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.SpHairStylingMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.SpGelNailsMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.SpFacialMombasa" />
        <activity android:name=".ServiceProviders.SpMombasaServices.SpBraidingMombasa" />
        <activity android:name=".ServiceProviders.SpWorkLocations.SpWorkMombasa" />
        <activity android:name=".ServiceProviders.SpEldoretServices.ClickPost.SpClickPostWeavingEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.ClickPost.SpClickPostPreBridalPackageEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.ClickPost.SpClickPostPedicureEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.ClickPost.SpClickPostNailExtensionEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.ClickPost.SpClickPostMassagingEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.ClickPost.SpClickPostManicureEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.ClickPost.SpClickPostMakeUpEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.ClickPost.SpClickPostKeratinTreatmentEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.ClickPost.SpClickPostHairStylingEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.ClickPost.SpClickPostGelNailsEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.ClickPost.SpClickPostFacialEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.ClickPost.SpClickPostBraidingEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.SpWeavingEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.SpPreBridalPackageEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.SpPedicureEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.SpNailExtensionEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.SpMassagingEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.SpManicureEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.SpMakeUpEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.SpKeratinTreatmentEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.SpHairStylingEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.SpGelNailsEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.SpFacialEldoret" />
        <activity android:name=".ServiceProviders.SpEldoretServices.SpBraidingEldoret" />
        <activity android:name=".ServiceProviders.SpKisumuServices.SpWeavingKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.ClickPost.SpClickPostWeavingKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.ClickPost.SpClickPostPreBridalPackageKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.ClickPost.SpClickPostPedicureKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.ClickPost.SpClickPostNailExtensionKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.ClickPost.SpClickPostMassagingKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.ClickPost.SpClickPostManicureKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.ClickPost.SpClickPostMakeUpKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.ClickPost.SpClickPostKeratinTreatmentKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.ClickPost.SpClickPostHairStylingKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.ClickPost.SpClickPostGelNailsKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.ClickPost.SpClickPostFacialKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.ClickPost.SpClickPostBraidingKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.SpPreBridalPackageKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.SpPedicureKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.SpNailExtensionKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.SpMassagingKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.SpManicureKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.SpMakeUpKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.SpKeratinTreatmentKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.SpHairStylingKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.SpGelNailsKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.SpFacialKisumu" />
        <activity android:name=".ServiceProviders.SpKisumuServices.SpBraidingKisumu" />
        <activity android:name=".ServiceProviders.SpNakuruServices.ClickPost.SpClickPostWeavingNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.ClickPost.SpClickPostPreBridalPackageNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.ClickPost.SpClickPostPedicureNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.ClickPost.SpClickPostNailExtensionNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.ClickPost.SpClickPostMassagingNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.ClickPost.SpClickPostManicureNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.ClickPost.SpClickPostMakeUpNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.ClickPost.SpClickPostKeratinTreatmentNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.ClickPost.SpClickPostHairStylingNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.ClickPost.SpClickPostGelNailsNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.ClickPost.SpClickPostFacialNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.ClickPost.SpClickPostBraidingNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.SpWeavingNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.SpPreBridalPackageNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.SpPedicureNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.SpNailExtensionNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.SpMassagingNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.SpManicureNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.SpMakeUpNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.SpKeratinTreatmentNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.SpHairStylingNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.SpGelNailsNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.SpFacialNakuru" />
        <activity android:name=".ServiceProviders.SpNakuruServices.SpBraidingNakuru" />
        <activity android:name=".ServiceProviders.SpNairobiServices.ClickPost.SpClickPostWeavingNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.ClickPost.SpClickPostPreBridalPackageNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.ClickPost.SpClickPostPedicureNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.ClickPost.SpClickPostNailExtensionNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.ClickPost.SpClickPostMassagingNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.ClickPost.SpClickPostManicureNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.ClickPost.SpClickPostMakeUpNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.ClickPost.SpClickPostKeratinTreatmentNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.ClickPost.SpClickPostHairStylingNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.ClickPost.SpClickPostGelNailsNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.ClickPost.SpClickPostFacialNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.ClickPost.SpClickPostBraidingNairobi" />
        <activity android:name=".ServiceProviders.SpCommentActivity" />
        <activity android:name=".ServiceProviders.SpNairobiServices.SpWeavingNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.SpPreBridalPackagesNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.SpPedicureNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.SpNailExtensionNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.SpMassagingNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.SpManicureNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.SpMakeUpNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.SpKeratinTreatmentNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.SpHairStylingNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.SpGelNailsNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.SpFacialNairobi" />
        <activity android:name=".ServiceProviders.SpNairobiServices.SpBraidingNairobi" />
        <activity android:name=".ServiceProviders.SpWorkLocations.SpWorkEldoret" />
        <activity android:name=".ServiceProviders.SpWorkLocations.SpWorkKisumu" />
        <activity android:name=".ServiceProviders.SpWorkLocations.SpWorkNakuru" />
        <activity android:name=".ServiceProviders.SpWorkLocations.SpWorkNairobi" />
        <activity android:name=".ServiceProviders.SpHomeLocation" />
        <activity android:name=".Users.EldoretServices.ClickPost.ClickPostWeavingEldoret" />
        <activity android:name=".Users.EldoretServices.ClickPost.ClickPostPreBridalPackagesEldoret" />
        <activity android:name=".Users.EldoretServices.ClickPost.ClickPostPedicureEldoret" />
        <activity android:name=".Users.EldoretServices.ClickPost.ClickPostNailExtensionEldoret" />
        <activity android:name=".Users.EldoretServices.ClickPost.ClickPostMassagingEldoret" />
        <activity android:name=".Users.EldoretServices.ClickPost.ClickPostManicureEldoret" />
        <activity android:name=".Users.EldoretServices.ClickPost.ClickPostMakeUpEldoret" />
        <activity android:name=".Users.EldoretServices.ClickPost.ClickPostKeratinTreatmentEldoret" />
        <activity android:name=".Users.EldoretServices.ClickPost.ClickPostHairStylingEldoret" />
        <activity android:name=".Users.EldoretServices.ClickPost.ClickPostGelNailsEldoret" />
        <activity android:name=".Users.EldoretServices.ClickPost.ClickPostFacialEldoret" />
        <activity android:name=".Users.EldoretServices.ClickPost.ClickPostBraidingEldoret" />
        <activity android:name=".Users.EldoretServices.WeavingEldoret" />
        <activity android:name=".Users.EldoretServices.PreBridalPackagesEldoret" />
        <activity android:name=".Users.EldoretServices.PedicureEldoret" />
        <activity android:name=".Users.EldoretServices.NailExtensionEldoret" />
        <activity android:name=".Users.EldoretServices.MassagingEldoret" />
        <activity android:name=".Users.EldoretServices.ManicureEldoret" />
        <activity android:name=".Users.EldoretServices.MakeUpEldoret" />
        <activity android:name=".Users.EldoretServices.HairstylingEldoret" />
        <activity android:name=".Users.EldoretServices.KeratinTreatmentEldoret" />
        <activity android:name=".Users.EldoretServices.GelNailsEldoret" />
        <activity android:name=".Users.EldoretServices.FacialEldoret" />
        <activity android:name=".Users.EldoretServices.BraidingEldoret" />
        <activity android:name=".Users.Locations.Eldoret" />
        <activity android:name=".Users.KisumuServices.ClickPost.ClickPostWeavingKisumu" />
        <activity android:name=".Users.KisumuServices.ClickPost.ClickPostPreBridalPackagesKisumu" />
        <activity android:name=".Users.KisumuServices.ClickPost.ClickPostPedicureKisumu" />
        <activity android:name=".Users.KisumuServices.ClickPost.ClickPostNailExtensionKisumu" />
        <activity android:name=".Users.KisumuServices.ClickPost.ClickPostMassagingKisumu" />
        <activity android:name=".Users.KisumuServices.ClickPost.ClickPostManicureKisumu" />
        <activity android:name=".Users.KisumuServices.ClickPost.ClickPostMakeUpKisumu" />
        <activity android:name=".Users.KisumuServices.ClickPost.ClickPostKeratinTreatmentKisumu" />
        <activity android:name=".Users.KisumuServices.ClickPost.ClickPostHairStylingKisumu" />
        <activity android:name=".Users.KisumuServices.ClickPost.ClickPostGelNailsKisumu" />
        <activity android:name=".Users.KisumuServices.ClickPost.ClickPostFacialKisumu" />
        <activity android:name=".Users.KisumuServices.ClickPost.ClickPostBraidingKisumu" />
        <activity android:name=".Users.KisumuServices.WeavingKisumu" />
        <activity android:name=".Users.KisumuServices.PreBridalPackagesKisumu" />
        <activity android:name=".Users.KisumuServices.PedicureKisumu" />
        <activity android:name=".Users.KisumuServices.NailExtensionKisumu" />
        <activity android:name=".Users.KisumuServices.MassagingKisumu" />
        <activity android:name=".Users.KisumuServices.ManicureKisumu" />
        <activity android:name=".Users.KisumuServices.MakeUpKisumu" />
        <activity android:name=".Users.KisumuServices.KeratinTreatmentKisumu" />
        <activity android:name=".Users.KisumuServices.HairstylingKisumu" />
        <activity android:name=".Users.KisumuServices.GelNailsKisumu" />
        <activity android:name=".Users.KisumuServices.FacialKisumu" />
        <activity android:name=".Users.KisumuServices.BraidingKisumu" />
        <activity android:name=".Users.Locations.Kisumu" />
        <activity android:name=".Users.NairobiServices.ClickPost.ClickPostMassaging" />
        <activity android:name=".Users.NakuruServices.ClickPost.ClickPostWeavingNakuru" />
        <activity android:name=".Users.NakuruServices.ClickPost.ClickPostPrebridalPackagesNakuru" />
        <activity android:name=".Users.NakuruServices.ClickPost.ClickPostPedicureNakuru" />
        <activity android:name=".Users.NakuruServices.ClickPost.ClickPostNailExtensionNakuru" />
        <activity android:name=".Users.NakuruServices.ClickPost.ClickPostMassagingNakuru" />
        <activity android:name=".Users.NakuruServices.ClickPost.ClickPostManicureNakuru" />
        <activity android:name=".Users.NakuruServices.ClickPost.ClickPostMakeUpNakuru" />
        <activity android:name=".Users.NakuruServices.ClickPost.ClickPostKeratinTreatmentNakuru" />
        <activity android:name=".Users.NakuruServices.ClickPost.ClickPostHairStylingNakuru" />
        <activity android:name=".Users.NakuruServices.ClickPost.ClickPostGelNailsNakuru" />
        <activity android:name=".Users.NakuruServices.ClickPost.ClickPostFacialNakuru" />
        <activity android:name=".Users.NakuruServices.ClickPost.ClickPostBraidingNakuru" />
        <activity android:name=".Users.Locations.Nakuru" />
        <activity android:name=".Users.NairobiServices.ClickPost.ClickPostPreBridalPackages" />
        <activity android:name=".Users.NairobiServices.ClickPost.ClickPostPedicure" />
        <activity android:name=".Users.NairobiServices.ClickPost.ClickPostWeaving" />
        <activity android:name=".Users.NairobiServices.ClickPost.ClickPostNailExtension" />
        <activity android:name=".Users.NairobiServices.ClickPost.ClickPostMakeUp" />
        <activity android:name=".Users.NairobiServices.ClickPost.ClickPostKeratinTreatment" />
        <activity android:name=".Users.NairobiServices.ClickPost.ClickPostHairStyling" />
        <activity android:name=".Users.NairobiServices.ClickPost.ClickPostGelNails" />
        <activity android:name=".Users.NairobiServices.ClickPost.ClickPostFacial" />
        <activity android:name=".Users.NairobiServices.ClickPost.ClickPostBraiding" />
        <activity android:name=".Users.NakuruServices.WeavingNakuru" />
        <activity android:name=".Users.NakuruServices.PreBridalPackagesNakuru" />
        <activity android:name=".Users.NakuruServices.PedicureNakuru" />
        <activity android:name=".Users.NakuruServices.NailExtensionNakuru" />
        <activity android:name=".Users.NakuruServices.MassagingNakuru" />
        <activity android:name=".Users.NakuruServices.ManicureNakuru" />
        <activity android:name=".Users.NakuruServices.MakeUpNakuru" />
        <activity android:name=".Users.NakuruServices.KeratinTreatmentNakuru" />
        <activity android:name=".Users.NakuruServices.HairStylingNakuru" />
        <activity android:name=".Users.NakuruServices.GelNailsNakuru" />
        <activity android:name=".Users.NakuruServices.FacialNakuru" />
        <activity android:name=".Users.NakuruServices.BraidingNakuru" />
        <activity android:name=".Users.NairobiServices.ClickPost.ClickPostManicure" />
        <activity android:name=".Users.Locations.Nairobi" />
        <activity android:name=".Users.NairobiServices.PreBridalPackages" />
        <activity android:name=".Users.NairobiServices.HairStyling" />
        <activity android:name=".Users.NairobiServices.KeratinTreatment" />
        <activity android:name=".Users.NairobiServices.MakeUp" />
        <activity android:name=".Users.NairobiServices.Massaging" />
        <activity android:name=".Users.NairobiServices.Facial" />
        <activity android:name=".Users.NairobiServices.Weaving" />
        <activity android:name=".Users.NairobiServices.GelNails" />
        <activity android:name=".Users.NairobiServices.NailExtension" />
        <activity android:name=".Users.NairobiServices.Pedicure" />
        <activity android:name=".Users.NairobiServices.Braiding" />
        <activity android:name=".Users.ProfileActivity" />
        <activity android:name=".ServiceProviders.ClickPostActivity" />
        <activity android:name=".ServiceProviders.SpMainActivity" />
        <activity android:name=".ServiceProviders.SpCategoryActivity" />
        <activity android:name=".ServiceProviders.SpLocationActivity" />
        <activity android:name=".ServiceProviders.LoginServiceProviderActivity" />
        <activity android:name=".ServiceProviders.ServiceProviderSetUpActivity" />
        <activity android:name=".Users.LocationActivity" />
        <activity android:name=".ServiceProviders.AddPostActivity" />
        <activity android:name=".ServiceProviders.PostActivity" />
        <activity android:name=".Users.CommentsActivity" />
        <activity android:name=".ServiceProviders.SpHomeActivity" />
        <activity android:name=".ServiceProviders.RegisterServiceProvider" />
        <activity android:name=".Users.NairobiServices.Manicure" />
        <activity android:name=".Users.ServicesActivity" />
        <activity android:name=".Users.SettingsActivity" />
        <activity android:name=".Users.ResetPasswordActivity" />
        <activity
            android:name=".Users.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Users.Signup" />
        <activity android:name=".Users.LoginActivity" />
        <activity android:name=".Users.Setup" />
        <activity android:name=".Users.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>